.hidden {
  display: none;
}
label {
  margin-bottom: 10px;
  display: block;
}

.navbar {
  min-height: 115px;
}

#error {
  color: #D8000C;
  background-color: #FFD2D2;
}


#app{
  border: 2px solid black;
  padding: 25px;
  background: url(https://images.unsplash.com/photo-1441831598748-609c9a7329a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
  background-repeat: no-repeat;
  background-size: auto;
}
.cruise0-logo {
    background-image: url(https://previews.123rf.com/images/keviz/keviz1803/keviz180300155/97264429-blue-cruise-ship-symbol-logo.jpg);
    width: 6rem;
    height: 5rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#linked-accounts {
  background: #ffffff;
  margin: 5% 0;
  padding: 5%;
}
.hljs{
  width: 100%;
}
